.app_dark_theme {
    --bg-color: #000d21;
    --inverted-bg-color: #adadad;
    --primary-color: #6200d5;
    --secondary-color: #138200;
    --inverted-primary-color: #001b8e;
    --inverted-secondary-color: #445cb2;
}
