:root {
    --bg-color: #adadad;
    --inverted-bg-color: #000d21;
    --primary-color: #001b8e;
    --secondary-color: #445cb2;
    --inverted-primary-color: #09f74b;
    --inverted-secondary-color: #138200;
}
